

:root {
    --accent-color: #2196f3;
    --main-text-color: #212121;
    --second-text-color: #757575;
    --button-text-color: #ffffff;
    --footer-phone-mail-color: rgba(255, 255, 255, 0.6);
    --background-team: #f5f4fa;
    --background-team-list: #ffffff;
    --footer-addres-white: #ffffff;
    --background-footer: #2f303a;
    --footer-logo-white: #ffffff;
    --hover-color-btn: #188ce8;
    --background-portfolio-btn: #f5f4fa;
    --background-page: #ffffff;
    --background-hero: #2f303a;
    --border-color-card: #eeeeee;
    --header-border-line: #ececec;
    --color-icon-team: #afb1b8;
    --color-footer-item-link: #ffffff;
    --hover-icon-fill: #ffffff;
    --color-text-input-footer: rgba(255, 255, 255, 0.6);
    --color-border-modal-input: rgba(33, 33, 33, 0.2);
    --color-placeholder-textarea: rgba(117, 117, 117, 0.5);
    --color-border-checkbox: #212121;
    --background-servises-text: rgba(47, 48, 58, 0.8);
    --background-color-backdrop: rgba(0, 0, 0, 0.2);
    --gradient-bg-hero: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
    --portfolio-project-list-text-color: #ffffff;
    --portfolio-project-list-text-background: rgba(33, 150, 243, 0.9);
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}