/** @format */

.contacts {
  display: flex;
  color: var(--paragraph-text-color);
}

.contacts-list {
margin-left: auto;
}

.contacts__item + .contacts__item {
  margin-left: 50px;
}

.contacts__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--paragraph-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: background-color 250ms var(--timing-function);
  &:not(:last-child) {
    margin-right: 50px;
  }
  .contacts &:hover,
  .contacts &:focus {
    color: var(--accent-color);
  }
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}
