.header-nav {
  @media screen and (min-width: 320px) {
    display: none;
  }

  @include tablet {
    display: flex;
    align-items: center;
  }
}
.page-header {
  background-color: getColor('primary-white');
}

.menu-open-btn {
  display: flex;
  margin-left: auto;
  border: none;
  background-color: transparent;
  @include tablet {
    display: none;
  }
  @include desktop {
    display: none;
  }
}

.menu-close-btn {
  display: flex;
  margin-left: auto;
  border: none;
  background-color: transparent;
}
.mobile-menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  top: 0;
  background-color: getColor('primary-white');
  padding-left: 40px;
  padding-bottom: 48px;
  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
  }
  @include tablet {
    display: none;
  }
  @include desktop {
    display: none;
  }
}
.mobile-top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.menu-close-btn {
  display: block;
  margin-left: auto;
  background-color: transparent;
  border: none;
  &:hover,
  &:focus {
    color: getColor('accent');
    fill: getColor('accent');
    transition: color 250ms getColor('timing-function'), fill 250ms getColor('timing-function');
  }
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-link {
  color: getColor('primary-text');
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.8px;
}
.mobile-link-active {
  color: getColor('accent');
}

.mobile-bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
