.logo {
  display: inline-block;
  justify-content: space-between;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.78px;
  text-shadow: 0px 4px 4px getColor('for-text-shadow');
  @include tablet {
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.72px;
  }
}

.logo-header {
  color: currentColor;
  @include tablet {
    margin-right: 75px;
    margin-left: 0;
  }
  @include tablet {
  }
  @include desktop {
    margin-right: 93px;
    margin-left: 0;
  }
}
.logo-web {
  font-family: Raleway, sans-serif;
  color: getColor('accent');
  text-shadow: 0px 4px 4px getColor('for-text-shadow');
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.78px;
  @include tablet {
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.72px;
  }
}

.logo-white {
  font-family: Raleway, sans-serif;
  color: getColor('primary-white');
}
