/** @format */

.nav__list {
  display: flex;
  align-items: center;
  margin-right: auto;
  & .nav__link:hover,
  & .nav__link:focus {
    color: var(--accent-color);
  }
}

.nav__list .nav__item + .nav__item {
  margin-left: 50px;
}

.nav__list .nav__link {
  align-items: center;
  display: flex;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
