.features {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.features__list {
    margin-bottom: -30px;

    @media screen and (max-width: 768px) {
        text-align: center;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
}

.features__item {
    @media screen and (max-width: 767.5px) {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    @media screen and (min-width: 768px) {
        width: calc((100% - 4 * 15px) / 2);
        margin: 15px;
    }

    @media screen and (min-width: 1200px) {
        width: calc((100% - 8 * 15px) / 4);
        margin: 15px;
    }
}

.features__item {
    display: block;
}

.features__title {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;

    margin-bottom: 10px;
    min-width: 270px;
}

.features__text {
    line-height: 1.7;
    min-width: 270px;

    color: var(--second-text-color);

    @media screen and (min-width: 768px) {
        width: 270px;
    }
}
