.hero {
    background-color: var(--background-hero-footer);
    text-align: center;
    padding-top: 118px;
    padding-bottom: 118px;
    margin: 0 auto;

    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../image/hero-bg-mobile-1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 1600px;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../image/hero-bg-mobile-2x.jpg);
    }

    @media screen and (min-width: 768px) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../image/hero-bg-tablet-1x.jpg);
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../image/hero-bg-tablet-2x.jpg);
        }
    }

    @media screen and (min-width: 1200px) {
        padding-top: 200px;
        padding-bottom: 200px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../image/hero-bg-1x.jpg);

        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../image/hero-bg-2x.jpg);
        }
    }
}

.hero__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);
    text-transform: uppercase;

    max-width: 360px;
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 1200px) {
        font-size: 44px;
        line-height: 1.36;

        max-width: 696px;
    }
}

.hero__btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;

    letter-spacing: 0.06em;

    color: var(--primary-white-color);
    background-color: var(--accent-color);

    min-width: 200px;
    padding: 10px 32px;
    border: 0;
    border-radius: 4px;

    cursor: pointer;

    transition: background-color 250ms var(--timing-function);

    &:hover,
    &:focus {
        background-color: var(--hover-color-btn);
    }
}
