.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: inherit;
}

.logo--header {
    padding-top: 24px;
    padding-bottom: 25px;
}

.logo__web {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);
}

.logo--white {
    color: var(--primary-white-color);
}
