:root {
    --accent-color: #2196f3;
    --main-text-color: #212121;
    --second-text-color: #757575;
    --primary-white-color: #ffffff;
    --second-background-color:#f5f4fa;
    --background-hero-footer: #2f303a;
    --hover-color-btn: #188ce8;
    --border-color: #eeeeee;
    --header-border-line: #ececec;
    --color-icon-team: #afb1b8;
    --color-text-footer: rgba(255, 255, 255, 0.6);
    --color-border-modal-input: rgba(33, 33, 33, 0.2);
    --color-placeholder-textarea: rgba(117, 117, 117, 0.5);
    --background-services-text: rgba(47, 48, 58, 0.8);
    --background-color-backdrop: rgba(0, 0, 0, 0.2);
    --gradient-bg-hero: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
    --portfolio-project-list-text-background: rgba(33, 150, 243, 0.9);
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
